.song {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song:hover {
    background-color: rgb(43, 43, 43);
}

.song_text {
    color: rgb(189, 189, 189);
    font-weight: 300;
}